div.attchc{
    /*display:inline-block;*/
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
	background-color:grainsboro;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
    padding: 5px;
    text-align: center;
}
div.attchc:active {
    color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}
 #overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 250px; /* Full width (cover the whole page) */
    height: 45%; /* Full height (cover the whole page) */
    top: 30%; 
    left: 35%;
    right: 0;
    bottom: 0;
	background:#DDD;

    background-color: grainsboro; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}



/*.popup {
    position: relative;
    display: inline-block;
    /*cursor: pointer;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}*/

/* The actual popup */
 .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 80%;
    margin-left: -80px;
}

/* Popup arrow */
 .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
 .show {
    visibility: visible;
   /* -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;*/
}

/* Add animation (fade in the popup) 
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}*/